site_name: Embedded Notes
site_description: Linux • Embedded • Multimedia
site_url: https://quocbuu.github.io

theme:
  name: material
  language: vi
  palette:
    - scheme: default
      primary: blue grey
      accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - content.code.copy

nav:
  - Home: index.md
  - Linux:
      - Example: linux/index.md

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - toc:
      permalink: true